<%- include('header'); -%>


    <h2>This is the about page</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat maxime aliquam culpa perferendis, non deserunt
        officia delectus nulla consequuntur dolorum placeat enim saepe incidunt voluptatem accusantium ratione odio
        porro
        suscipit?</p>

<%- include('footer'); -%>